.formimage{
    height: 95vh;
}

.formimage img
{
    margin-top: 1%;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 690px;
}
.card{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    background-color: white;
    float: right;
}
.card
{
    padding: 5%;
    margin-right: 5%;
   
}
.card input
{
    margin-top: 7%;
    width: 300px;
    height: 40px;
}
.card button
{
    margin-top: 7%;
    padding: 5%;
    width: 100%;
    background-color: blueviolet;
    color: aliceblue;
    border-radius: 15px;
}
.mapindia img{
    margin-left: 20%;
    margin-top: 10%;
    width: 25%;
    height: 50%;
    border-radius: 10%;
}
.intro
{   padding-left: 12%;
    padding-top: 1%;
    font-size: 50px;
    color:rgb(85, 21, 248);
}
.heading p{
    margin-left: 5%;
    font-size: 25px;
    font-weight: bolder;
    text-decoration:underline;
}
.moneysave img{
    width: 17%;
    margin-left: 45%;
}
.moneysave h3{
    margin-left: 7%;
    text-align: center;
}
.moneysave p{
    margin-left: 15%;
    text-align: center;
}
.img3{
    margin-top: 3%;
}
.friendly{
    margin-top: 4%;
}
.how1{
    padding: 2%;
    background-color: blue;
    margin-top: 5%;
    text-align: center;
}
.how{
    margin-top: 2%;
}
.how1 img{
    width: 20%;
}
.how1 p{
    margin-top: 4%;
    color: white;
    font-size: 20px;
    font-weight: bolder;
}
.howheader h3{
    text-decoration: underline;
    font-weight: bolder;
    margin-left: 5%;
    font-size: 25px;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 50%;
    
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    text-align: center;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }
  .chagre{
    margin-left: 5%;
  }
  .chagre table{
    margin-top: 3%;
    margin-left: 25%;
  }
  .subhead h5{
    margin-top: 2%;
    font-weight: 600;
    color: rgb(2, 1, 1);
  }
  .subhead p{
    margin-top: 1%;
  }
  .chagres{
    margin-top: 5%;
  }
  footer{
    text-align: center;
    margin-top: 4%;
    padding: 3%;
    background-color: black;
    color: white;
  }
  footer p{
    cursor: pointer;
  }
  footer h4{
    font-weight: bolder;
    margin-bottom: 5%;
  }
  .rel{
    margin-top: 2%;
  }
